# ignore everything
*

# unignore source files
!*/**/*.c
!*/**/*.cpp
!*/**/*.in
!*/**/*.out
!*/**/*.go
!*/**/*.mod
!*/**/*.odin
!*/**/*.py
!*/**/*.rs
!*/**/*.sh

# web files
!*/**/*.html
!*/**/*.css
!*/**/*.js
!*/**/*.jsx
!*/**/*.ts
!*/**/*.tsx
!*/**/*.vue
!*/**/*.json
!*/**/*.xml


# unignore other file types
!*/**/*.md
!*/**/*.tex
!*/**/*.typst
!*/**/*.txt

# unignore folders
!*/

# ignore all files/directories with _ignore appended
*_ignore

# unignore individual files
!.gitignore
!README.md
