# ignore everything
*

# unignore source files
!*/**/*.c
!*/**/*.cpp
!*/**/*.go
!*/**/*.js
!*/**/*.odin
!*/**/*.py
!*/**/*.rs
!*/**/*.ts
!*/**/*.html
!*/**/*.css
!*/**/*.sh

# unignore other file types
!*/**/*.md
!*/**/*.tex
!*/**/*.typst
!*/**/*.txt

# unignore folders
!*/

# ignore all files/directories with _ignore appended
*_ignore

# unignore individual files
!.gitignore
!README.md
